@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  /* COLORS */
  --black: #111111;
  --bright-blue: #1a619e;
  --bright-cyan: #41c8a2;
  --dark-blue: #122c34;
  --dark-gray: #333333;
  --deep-blue: #031926;
  --light-gray: #959595;
  --gray: #777777;
  --white: #ffffff;

  /* FONT FAMILY */
  --poppins: "Poppins";
  --mulish: "Mulish";
  --open-sans: "Open Sans";

  /* FONT WEIGHT */
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* NAVBAR */
  --navbar-height: 95px;
}
