@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
}
html,
body {
  background: var(--white);
  color: var(--dark-gray);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: var(--poppins), sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--medium);
}

button {
  cursor: pointer;
}
