@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */
  --blue: #1a619d;
  --green: #41c9a2;
  --dark-blue: #4f43cc;
  --purple: #be44d2;

  --white: #FFFFFF;
  --black: #000000;

  --dark-grey: #2d2c2e;

  /* FONT FAMILY */
  --poppins: 'Poppins';

  /* FONT WEIGHT */
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* NAVBAR */
  --navbar-height: 95px;
}
