.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: var(--deep-blue);
    font-size: 3.625rem;
    font-family: var(--poppins), sans-serif;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 5.438rem;
    margin-top: 3.5rem;
  }

  &__subtitle {
    color: var(--deep-blue);
    font-size: 1rem;
    font-family: var(--open-sans), sans-serif;
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: 0.45em;
    line-height: 1.375rem;
    margin-top: 0.25rem;
  }
}
